<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H2026</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>itlwm</string>
	<key>CFBundleIdentifier</key>
	<string>com.zxystd.itlwm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>itlwm</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11E801a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19G68</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1170</string>
	<key>DTXcodeBuild</key>
	<string>11E801a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>itlwm</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.zxystd.itlwm</string>
			<key>IOClass</key>
			<string>itlwm</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>ItlNetworkUserClient</string>
			<key>WiFiConfig</key>
			<dict>
				<key>WiFi_1</key>
				<dict>
					<key>password</key>
					<string>12w34r56</string>
					<key>ssid</key>
					<string>????</string>
				</dict>
				<key>WiFi_10</key>
				<dict>
					<key>password</key>
					<string>12W34r56</string>
					<key>ssid</key>
					<string>iPad 8848 Generation From Big Kn</string>
				</dict>
				<key>WiFi_11</key>
				<dict>
					<key>password</key>
					<string>inbedu2015</string>
					<key>ssid</key>
					<string>iNbedu</string>
				</dict>
				<key>WiFi_12</key>
				<dict>
					<key>password</key>
					<string>trtthinkpad</string>
					<key>ssid</key>
					<string>cfidence22</string>
				</dict>
				<key>WiFi_13</key>
				<dict>
					<key>password</key>
					<string>trtthinkpad</string>
					<key>ssid</key>
					<string>cfidence2</string>
				</dict>
				<key>WiFi_14</key>
				<dict>
					<key>password</key>
					<string>trtthinkpad</string>
					<key>ssid</key>
					<string>cfidence</string>
				</dict>
				<key>WiFi_15</key>
				<dict>
					<key>password</key>
					<string>bchk2565</string>
					<key>ssid</key>
					<string>ZTE-F182E7</string>
				</dict>
				<key>WiFi_16</key>
				<dict>
					<key>password</key>
					<string>12w34r56</string>
					<key>ssid</key>
					<string>Yzms_Satellite_Studio</string>
				</dict>
				<key>WiFi_17</key>
				<dict>
					<key>password</key>
					<string>trtthinkpad</string>
					<key>ssid</key>
					<string>Unifi</string>
				</dict>
				<key>WiFi_18</key>
				<dict>
					<key>password</key>
					<string>Nfe123456!</string>
					<key>ssid</key>
					<string>TISO-2FLOOR 1 5G</string>
				</dict>
				<key>WiFi_19</key>
				<dict>
					<key>password</key>
					<string>Nfe123456!</string>
					<key>ssid</key>
					<string>TIOS2  (5G)</string>
				</dict>
				<key>WiFi_2</key>
				<dict>
					<key>password</key>
					<string>12W34r56</string>
					<key>ssid</key>
					<string>?????</string>
				</dict>
				<key>WiFi_20</key>
				<dict>
					<key>password</key>
					<string>NFE6666!</string>
					<key>ssid</key>
					<string>TIOS-5g</string>
				</dict>
				<key>WiFi_21</key>
				<dict>
					<key>password</key>
					<string>NFE123456!</string>
					<key>ssid</key>
					<string>TIOS-25G</string>
				</dict>
				<key>WiFi_22</key>
				<dict>
					<key>password</key>
					<string>9olvqmu69bfh</string>
					<key>ssid</key>
					<string>Primus60721</string>
				</dict>
				<key>WiFi_23</key>
				<dict>
					<key>password</key>
					<string>MarsToPluto</string>
					<key>ssid</key>
					<string>Pluto</string>
				</dict>
				<key>WiFi_24</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>Out_LOU</string>
				</dict>
				<key>WiFi_25</key>
				<dict>
					<key>password</key>
					<string>12w34r56</string>
					<key>ssid</key>
					<string>Orsteiner</string>
				</dict>
				<key>WiFi_26</key>
				<dict>
					<key>password</key>
					<string>12W34r56</string>
					<key>ssid</key>
					<string>Oneplus ACE 3 PRO</string>
				</dict>
				<key>WiFi_27</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>Middle</string>
				</dict>
				<key>WiFi_28</key>
				<dict>
					<key>password</key>
					<string>12W34r56</string>
					<key>ssid</key>
					<string>M.R. Studio</string>
				</dict>
				<key>WiFi_29</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>Lou_Smart</string>
				</dict>
				<key>WiFi_3</key>
				<dict>
					<key>password</key>
					<string>shanhu66</string>
					<key>ssid</key>
					<string>????...</string>
				</dict>
				<key>WiFi_30</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>Lou</string>
				</dict>
				<key>WiFi_31</key>
				<dict>
					<key>password</key>
					<string>3b0fcc6w62</string>
					<key>ssid</key>
					<string>Linksys19189_5GHz</string>
				</dict>
				<key>WiFi_32</key>
				<dict>
					<key>password</key>
					<string>12W34r56</string>
					<key>ssid</key>
					<string>IPad 8848 Generation From ??</string>
				</dict>
				<key>WiFi_33</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>Franke</string>
				</dict>
				<key>WiFi_34</key>
				<dict>
					<key>password</key>
					<string>qpalzmeudhvt</string>
					<key>ssid</key>
					<string>FOLL</string>
				</dict>
				<key>WiFi_35</key>
				<dict>
					<key>password</key>
					<string>112182320840</string>
					<key>ssid</key>
					<string>DIRECT-E2-HP DeskJet 2700 series</string>
				</dict>
				<key>WiFi_36</key>
				<dict>
					<key>password</key>
					<string>55138213</string>
					<key>ssid</key>
					<string>DIRECT-D3C34869</string>
				</dict>
				<key>WiFi_37</key>
				<dict>
					<key>password</key>
					<string>12345678</string>
					<key>ssid</key>
					<string>DIRECT-78-HP DeskJet 3630 series</string>
				</dict>
				<key>WiFi_38</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>ChinaNet-nvrT-5G</string>
				</dict>
				<key>WiFi_39</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>ChinaNet-nvrT</string>
				</dict>
				<key>WiFi_4</key>
				<dict>
					<key>password</key>
					<string>shanhu66</string>
					<key>ssid</key>
					<string>????.</string>
				</dict>
				<key>WiFi_40</key>
				<dict>
					<key>password</key>
					<string>13626823460</string>
					<key>ssid</key>
					<string>CMCC-2-104</string>
				</dict>
				<key>WiFi_41</key>
				<dict>
					<key>password</key>
					<string>Chengdu520</string>
					<key>ssid</key>
					<string>CMCC-1101</string>
				</dict>
				<key>WiFi_42</key>
				<dict>
					<key>password</key>
					<string>9055939244</string>
					<key>ssid</key>
					<string>Banasbabes</string>
				</dict>
				<key>WiFi_43</key>
				<dict>
					<key>password</key>
					<string>45A1DAF2</string>
					<key>ssid</key>
					<string>BELL946</string>
				</dict>
				<key>WiFi_44</key>
				<dict>
					<key>password</key>
					<string>4000606606</string>
					<key>ssid</key>
					<string>Atour</string>
				</dict>
				<key>WiFi_45</key>
				<dict>
					<key>password</key>
					<string>12w34r56</string>
					<key>ssid</key>
					<string>Admin</string>
				</dict>
				<key>WiFi_46</key>
				<dict>
					<key>password</key>
					<string>zxc88888</string>
					<key>ssid</key>
					<string>8618</string>
				</dict>
				<key>WiFi_47</key>
				<dict>
					<key>password</key>
					<string>12w34r56</string>
					<key>ssid</key>
					<string>5G</string>
				</dict>
				<key>WiFi_48</key>
				<dict>
					<key>password</key>
					<string>wxqbbswzl</string>
					<key>ssid</key>
					<string>2910</string>
				</dict>
				<key>WiFi_49</key>
				<dict>
					<key>password</key>
					<string>12w34r56</string>
					<key>ssid</key>
					<string>Not Too Fast</string>
				</dict>
				<key>WiFi_5</key>
				<dict>
					<key>password</key>
					<string>yzms1243</string>
					<key>ssid</key>
					<string>yzkcap</string>
				</dict>
				<key>WiFi_50</key>
				<dict>
					<key>password</key>
					<string>14169881389</string>
					<key>ssid</key>
					<string>Eric2.4</string>
				</dict>
				<key>WiFi_6</key>
				<dict>
					<key>password</key>
					<string>trtthinkpad</string>
					<key>ssid</key>
					<string>regcon</string>
				</dict>
				<key>WiFi_7</key>
				<dict>
					<key>password</key>
					<string>nfe88888</string>
					<key>ssid</key>
					<string>nfe</string>
				</dict>
				<key>WiFi_8</key>
				<dict>
					<key>password</key>
					<string>87631920</string>
					<key>ssid</key>
					<string>lou</string>
				</dict>
				<key>WiFi_9</key>
				<dict>
					<key>password</key>
					<string>12W34r56</string>
					<key>ssid</key>
					<string>iPhone</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 钟先耀. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
